img {
  float: center;
  width: 25%;
}

.sidebarBox {
  width: 30%;
  float: right;
  background-color: lightcoral;
  margin: 20px;
  border: 20px solid black;
  padding: 20px;
  box-sizing: border-box;
}